[2015-07-18 13:14] plehegar opened #1 "Promise based: idle()"
From @balasanjay
[[
Should't this be Promise based? Then we can hope to one day write something like:

[code]

]]
https://plus.google.com/+IlyaGrigorik/posts/1Y4atT8ghZB

[2015-07-21 22:23] rmcilroy opened #2 "Enable use of generator functions with yield in requestIdleCallback"
ES6 generator functions enable a function to yield and be later re-entered with context saved across callings. RequestIdleCallbacks are expected to "repost and exit" once they are coming close to their deadline. It would be nice if instead, they could pass a generator function to the requestIdleCallback API and then just be able to sprinkle 'yield' calls throughout this callback.  This would enabl

[2015-07-21 22:37] rmcilroy commented on #1
A Promise-like API is an interesting suggestion, however there are difficulties in marrying the Promise-like fulfilled semantics (required for await or .then()) with a the fact that an idle callback might not completed all it's work in one go, instead needing to 'repost and return immediately' before it's deadline runs out. Would the promise be resolved when the idle callback returned, even althou

[2015-07-22 15:52] igrigorik commented on #2
@jakearchibald @paullewis you explored this pattern a few weeks back.. what was the conclusion?

[2015-07-22 15:53] igrigorik commented on #1
/cc @domenic @jakearchibald @paullewis

[2015-07-22 16:08] jakearchibald commented on #2
I really liked the ergonomics of using a generator. It means the developer just yields as often as they can, then they don't have to care so much about the deadline.

[2015-07-22 17:01] balasanjay commented on #1
@rmcilroy

I was thinking that idle() would return a Promise that would be fulfilled with empty data (or maybe a high-res timestamp) when the next idle time slice begins.

This is entirely equivalent to the current API; you can build one out of the other. But I thought it would be slightly nicer for it to be await-able out of the box.

[2015-07-24 11:55] domenic commented on #2
This is a classic abuse of generators where async/await is more appropriate. If the desire is syntactic support for yielding to the event loop, #1 is the correct design. If the desire is to yield a sequence of values to some caller, then `yield` makes sense---but I doubt that is the case.

#1 is much better, since it actually matches the concept of async work being done. E.g., the `async function`

[2015-07-24 12:04] domenic commented on #1
Yes, @rmcilroy's comment seems a bit confused. The promise's fulfillment is not supposed to represent the work being done by author code. It's supposed to simply represent the browser becoming ready to do idle work. Using promises fulfilled with undefined to represent such state transitions is a pretty common pattern. See http://www.w3.org/2001/tag/doc/promises-guide#one-time-events and the follow

[2015-07-24 12:07] domenic commented on #2
The OP is also problematic in that it implies we would synchronously re-enter the function in some cases, which can be hazardous; if you can't predict whether re-entrance will occur synchronously or asynchronously, it is hard to write robust code.

[2015-07-25 14:31] rmcilroy commented on #1
Ahh I see, I got the wrong end of the stick and thought you were proposing an idle() function which took a function argument and returned a promise which was fulfilled when that callbacks had run.  An idle() function which returns a promise which is fulfilled with an IdleDeadline object when an idle period occurs sounds more interesting.

As you say, these models are entirely equivalent and one co

[2015-07-26 19:05] domenic commented on #1
Yep, the last example fits with `await` perfectly.

One other problem. Cancelable promises don't exist yet, even though there's massive pent-up demand for them and we (myself and @jakearchibald) are working to get them out as soon as possible. But if you were to go this route, canceling an idle callback would probably be blocked until we figure those out :-/.

[2015-07-26 21:14] igrigorik commented on #1
@domenic how would @rmcilroy's await example work with a cancelable promise? E.g I schedule doWork() to run during the next idle period, but then shortly thereafter realize I need to run it now and want to cancel and run immediately.

[2015-07-29 17:37] rmcilroy opened #3 "Add an optional parameter which guarantees callback is executed"
Suggestion from junov@chromium.org:

There does not seem to be any provision for guaranteeing that the user agent will execute an idle callback. To be more specific, the optional deadline argument does not guarantee that the callback will be executed before the script execution context is destroyed. It would be nice to be able to provide some guarantee of execution. Without that guarantee, one wou

[2015-07-29 17:41] rmcilroy commented on #3
I guess this would be equivalent to adding an handler to the onunload (or onbeforeunload) event, which is canceled if the callback get's triggered through other means (much like the current optional timer parameter is equivalent to a cancelable setTimeout). You could build this manually, but it might be nice to have it built-in to the API like the timeout parameter.

@igrigorik @toddreifsteck any

[2015-07-29 18:23] smaug---- commented on #3
We don't have this kind of params for setTimeout either. pagehide/unload/beforeunload event listeners cover this case just fine.

I wouldn't complicate the API with this kind of optional param.

[2015-07-29 20:29] igrigorik commented on #3
+1. I can imagine many cases where forcing the requestIdle callback during this part of app's lifecycle is pure overhead. If you care about pagehide/onunload then you should handle those cases explicitly.

[2015-07-30 01:36] lawnsea commented on #3
:-1: I agree with @smaug---- and @igrigorik that this is out of scope.

[2015-07-30 01:59] lawnsea opened #6 "`isExceeded` specified backward?"
The spec says the following on [L299-300](https://github.com/w3c/requestidlecallback/blob/gh-pages/index.html#L299-L300):

If the value of the `deadline` timestamp is greater than that returned from `performance.now()`, doesn't that mean the deadline is in the future and thus has not been exceeded?

[2015-07-30 02:11] lawnsea opened #7 "Processing model will not make progress"
The [Processing Model](https://w3c.github.io/requestidlecallback/#processing-model) says the following:

The first time this is executed, there will be no last idle period deadline, so `last_deadline` will be 0. It will always be the case that `0 < performance.now()`, thus we take the branch at step 2 and wait for the current time to equal `last_deadline`, which will never happen.

[2015-07-30 11:23] rmcilroy commented on #3
Great, I was hoping this would be the consensus to avoid overcomplicating the API. Closing this issue.

[2015-07-30 11:23] #3 closed, assigned to nobody

[2015-07-30 11:30] rmcilroy commented on #7
Yes you're right, thanks for the fix.

[2015-07-30 11:32] #7 closed, assigned to nobody

[2015-07-30 12:32] rmcilroy commented on #6
Yes you are right - I seem to have a blind spot for getting comparisons in the correct order...

I created a pull request at https://github.com/w3c/requestidlecallback/pull/9 to fix this. @plehegar, look good to you?

[2015-07-30 12:40] rmcilroy commented on #1
Given that cancelable promises aren't specified yet (and would be necessary for requestIdleCallback), my feeling is that we should build this API as a lower-level callback API (as currently spec'ed). While the await-based promise API is nice, it requires await, which is a while out (ES7 at the earliest), and the promise API can be built from the callback API in Javascript once that's available (wh

[2015-07-30 13:25] igrigorik commented on #1
Yep, agreed. +1 for staying with current callback API.

[2015-07-30 13:28] rmcilroy commented on #2
Closing this given #1 is preferred.

[2015-07-30 13:28] #2 closed, assigned to nobody

[2015-07-30 21:50] domenic commented on #1
Sounds good.

[2015-07-30 23:22] #6 closed, assigned to nobody

[2015-07-31 01:03] balasanjay commented on #1
Makes sense to me.

[2015-08-11 21:15] #1 closed, assigned to nobody

[2015-08-12 18:33] igrigorik opened #11 "Collapse deadline and isExeeded into single function?"
[code]

Would it make sense to simplify the above interface by collapsing `deadline` and `isExceeded` into a single function? For example, `timeLeft()`, or some such, that reports the amount of time left in the idle period? The developer API would then be...

[code]

Also, on the implementation side for the reported estimate, we probably need to add some quantization logic for idle periods... E.g.

[2015-08-12 18:43] ojanvafai commented on #11
The code example is backwards I think. It should be:
while (deadline.timeLeft() > 0) {
...
}

In addition to simplifying the API, it would make the natural path for using this API avoid doing an expensive performance.now() call in the common case.

[2015-08-12 20:49] igrigorik commented on #11
@ojanvafai woops, good catch. Fixed the example.

[2015-08-18 17:39] rmcilroy commented on #11
The reason we originally went for an absolute deadline rather than a relative "time remaining" was because the OS might deschedule the thread, making a remaining time invalid. However now that we are passing a deadline object rather than just a raw DOMHighResTimeStamp this is no longer really a concern (since timeLeft() can update appropriately when called).

If there are no use-cases for having t

[2015-08-18 21:38] igrigorik commented on #11
Thinking out loud.. If, as a developer, I'm scheduling a one-shot work item based on provided estimate (e.g. "ok looks like I have X ms, my work should take less then that, run it"), then in the descheduling case I'm going to overshoot my quota regardless of how we report it. If, on the other hand, I'm processing smaller work chunks (e.g. running in a loop), then the `timeLeft` approach is better

[2015-08-19 09:33] rmcilroy commented on #11
Either the `isExceeded()` or `performance.now() > deadline` would also allow the system to adjust the reported amount of time remaining (via the fact that `performance.now()` would increase while we are descheduled), so I don't think `timeLeft` is better for this reason, but it seems like a reasonable simplification to the API.

[2015-08-20 10:54] rmcilroy commented on #11
Created a pull request with this spec change in #12. Decided to go for timeRemaining() instead of timeLeft(). Please take a look, thanks.

[2015-08-20 16:03] igrigorik commented on #11
Thanks Ross, let's continue in #12. Closing this.

[2015-08-20 16:03] #11 closed, assigned to nobody

[2015-08-21 17:36] toddreifsteck opened #13 "Do we need to clarify that microtasks will execute within this period?"
This is a bit vague but is something I as thinkin on this morning. It seems that downstream microtasks from code within a requeestIdleCallback could cause the code to have effects past its deadline. Is any processing model update necessary to improve that OR is that just something we should expect web page developers to understand?

(My initial thinking is that web page developers will just need t

[2015-08-21 18:04] igrigorik commented on #13
Hmm, I think this is a "developers will have to keep this in mind". There isn't anything we can do about this in rIC's processing model.. since the callback can do arbitrary work.

That said, perhaps it does make sense to add a note reminding developers to be careful about what and how they schedule within rIC's callback?

[2015-08-24 21:12] rmcilroy commented on #13
I agree with @igrigorik, I don't think we can specify anything about this in the processing model, but happy to take suggestions on adding a note to remind developers about this in the spec.

[2015-08-24 21:36] igrigorik commented on #13
@rmcilroy it may be good to add a brief note [below Fig 1](https://w3c.github.io/requestidlecallback/#figure1) indicating that some operations invoked within the rIC callback may schedule other (microtask) work that would run after the idle callback has finished.. If that's the case, the application should account for that by yielding before the deadline expires to avoid blowing the frame budget.

[2015-08-25 00:14] toddreifsteck commented on #13
This sounds useful to me. Thanks!

[2015-09-01 16:45] rmcilroy commented on #13
Attempted to clarify this in #15. PTAL, thanks.

[2015-09-03 11:08] tetsuharuohzeki opened #17 "should requestIdleCallback return unsigned long?"
revision: 7a1bbbb6f4ebc2f891cd74023b28add9e2dd7c33

By this spec revision,  [_idle callback identifier_](https://w3c.github.io/requestidlecallback/#dfn-idle-callback-identifier) is only incremented and not be decremented at all, thus this value will not be a negative value. So I feel [unsigned long in WebIDL](http://heycam.github.io/webidl/#idl-unsigned-long)  is more suitable type for the return

[2015-09-03 15:26] igrigorik commented on #17
Seems reasonable. That said, with my 'spec hat' on I'd prefer that we stay consistent with requestAnimationFrame: https://html.spec.whatwg.org/#window. Would you be willing to start a conversation [on whatwg](https://github.com/whatwg/html) first to see if that can be updated?

[2015-09-03 16:39] tetsuharuohzeki commented on #17
Hmm, okay, I'll file a new proposal issue which is about `requestAnimationFrame` to whatwg/html.

[2015-09-04 06:30] tetsuharuohzeki commented on #17
By https://github.com/whatwg/html/pull/97, `requestAnimationFrame()` returns unsigned long now in whatwg/html.

[2015-09-04 07:01] igrigorik commented on #17
Awesome, thanks for the quick turnaround! @rmcilroy any objections?

[2015-09-04 15:24] rmcilroy commented on #17
No objections :+1:

[2015-09-09 16:34] #17 closed, assigned to nobody

[2015-09-15 23:41] esprehn opened #20 "Clamp requestIdleCallback deadline"
Elliott:
This still has the privacy problems where you can sample the time remaining with high accuracy. My issue about making the short idle periods all uniform in length hasn't been addressed.

Ross:
You're right, sorry, this discussion fizzled out on the CL without a resolution that I was aware of. As I understand from Ilya's comment in https://codereview.chromium.org/1119683003/#msg64, your pr

[2015-09-15 23:58] rmcilroy commented on #20
Regarding:

If we want to have an idle period being the time between frame commit and the start of drawing the next frame, then we would not be able to allow a rIC to schedule another callback in the same frame given this part of the spec:

We could possibly get around this by split each frame up into multiple 2ms idle periods, however this seems really limiting to the API. Apps which wanted to do

[2015-09-16 00:29] esprehn commented on #20
I don't agree with that part of the spec, it should not post you to the next idle period, it should continue in the current one until time is exhausted. There's space in the current frame, why wait? That's how microtask (MutationObserver, Promises) and other future callbacks will work. In the past this magic "schedule until next time" was also difficult for developers to use/reason about. They'll

[2015-09-16 02:23] igrigorik commented on #20
Quoting @rmcilroy  from a [thread on public-webperf](https://lists.w3.org/Archives/Public/public-web-perf/2015Jun/0126.html):

---

@esprehn it seems like there are two threads here, each at odds with each other:
1. Original concern was that "you can sample the time remaining with high accuracy".
2. Second concern is about reposting rIC callback into same idle block.

If we allow 2, then don't we

[2015-09-16 13:58] rmcilroy commented on #20
I agree with igrigorik@ points above.

In relation to the question of how we run multiple rIC callbacks. We run callbacks in round-robin order, i.e., if a rIC callback reposts itself at the end of it's execution then it will be put at the end of the run-queue, and will get another chance to run after all the previously scheduled rIC callbacks have been run. When a new idle period starts, the top c

[2015-09-17 09:25] #13 closed, assigned to nobody

[2015-09-21 20:53] igrigorik opened #21 "Future-proof the rIC API and make it extensible"
[code]

**Problem:** Current API signature takes an optional timeout value, which makes it impossible to extend this API in the future with other optional or required parameters.

**Proposal:** move timeout into an optional dictionary…

[code]

[2015-09-22 14:13] rmcilroy commented on #21
SGTM. @toddreifsteck, any objections?

[2015-09-22 16:08] igrigorik commented on #21
/cc @eliperelman @bzbarsky

[2015-09-22 16:13] bzbarsky commented on #21
If you really wanted to, you could even support both:

[code]

No idea whether you want that.  Just having the dictionary is probably fine.

[2015-09-22 16:19] igrigorik commented on #21
FWIW, given that we're working with clean slate here, I'd vote for dictionary only -- reduces confusion.

[2015-09-22 17:36] eliperelman commented on #21
@igrigorik no objections. I'm also fine with dictionary-only.

[2015-09-22 22:09] rmcilroy commented on #20
@esprehn, during our meeting last week I believe we came to the conclusion that the idle callback's timeRemaining() method wasn't any more of a privacy concern than performance.now(). Would you be happy if we clamp this 5us like performance.now() for the clamping aspect of this discussion?

[2015-09-23 17:26] rmcilroy commented on #21
Change uploaded to address this in #22

[2015-09-23 17:34] toddreifsteck commented on #21
Perfect! LGTM

[2015-09-25 00:03] igrigorik commented on #21
Resolved via #22, closing.

[2015-09-25 00:03] #21 closed, assigned to nobody

[2015-09-25 00:03] igrigorik commented on #20
@rmcilroy @esprehn #23 is merged, are we good to close this?

[2015-09-25 00:06] igrigorik opened #24 "Improve IDL markup"
Editorial nitpick: https://github.com/w3c/requestidlecallback/blob/gh-pages/index.html#L229-L245

Respec is throwing an error (top right corner of the spec). It'd be great to convert above markup into respec compatible format to get code highlighting and resolve the error.

https://www.w3.org/respec/guide.html#webidl-support - see examples doc at the bottom. Also, example from FT spec: https://git

[2015-09-28 17:37] esprehn commented on #20
As discussed in person I think this is probably not much worse than setTimeout + requestAnimationFrame in the current scheduler architecture so this is probably fine in terms of clamping for now. We might want to follow up with the security team though, since setTimeout always clamps to 1ms I'm curious if requestIdleCallback (and maybe postMessage) could be used to precisely time very fast frames

[2015-09-28 17:37] #20 closed, assigned to nobody

[2015-10-09 17:51] bzbarsky opened #25 ""the Window object's active document" makes no sense"
This spec talks about "the Window object's active document."  There is no such thing.  A browsing context has an active document.  A Window has some set of documents associated with it, with no way to pick out the really relevant one that I can see.  I thought I saw some spec trying to deal with this by talking about a Window's "most recent document" or something like that, but I don't recall whic

[2015-10-09 17:53] bzbarsky opened #26 "Are we sure we want integer handles?"
The use of unsigned long handles is problematic.  I thought we had this conversation with `requestAnimationFrame` too, and am not sure why it went with them after all, but there are two main problems: (a) You have to deal with overflow of the counter (which specs tend to not do, somehow) and (b) You can cancel other people's requests (or indeed all of them).

Vending some sort of guaranteed-unforg

[2015-10-09 17:53] bzbarsky opened #27 "Why do we have two lists of callbacks?"

[2015-10-09 17:54] bzbarsky commented on #27
There is a "list of idle request callbacks" and a "list of runnable idle callbacks" serves.  I guess the idea is that if an idle callback is scheduled during an idle period it won't run until the next idle period?  But why is that a desirable behavior?  If that's not the intent, what _is_ the intent?

[2015-10-09 17:55] bzbarsky opened #28 "The restriction on when a new idle period can start is rather odd."
There seems to be some explicit effort to make sure a new idle period can't start until a previous one would have ended, and I'm not sure why that's there.  The way the spec is written right now, if the UA starts a 50ms idle period and has one callback to run, runs that callback, the callback uses 5ms of time budget but scheduled another idle callback... then the UA won't run that other idle callb

[2015-10-09 17:57] bzbarsky opened #29 "It's odd to half-define inter-document callback ordering, but not fully define it"
The fact that inter-document ordering is half-defined and half-arbitrary is a bit weird.  Specifically, if I have two documents, A and B, and each schedules two idle callbacks (A1, A2, B1, B2) then I think per this spec the only allowable execution orders are "A1, B1, A2, B2" and "B1, A1, B2, A2", but either one of those two is ok.  That's assuming those 4 idle callbacks fit inside a single idle p

[2015-10-15 14:42] rmcilroy commented on #26
The use of integer handles here was modivated by consistency with the other timing callback APIs. Personally I agree that vending unforgeable handles might be a better approach, but I also think consistency with the other timing APIs is important.

[2015-10-15 14:49] rmcilroy commented on #27
The two lists of callbacks are so that an idle callback scheduled during one idle period doesn't run until the next idle period. The reason for this is that it allows code like this:

This allows code patterns like the following:

[code]

If this is called with a deadline of less than 5ms then it won't get run again until the next idle period, at which point the deadline may be large enough to do

[2015-10-15 14:55] bzbarsky commented on #27
Oh, right, because you can't say how much time you actually want.  Definitely worth explaining better, especially because it means we make it impossible to actually schedule some more work for the current idle period.

[2015-10-15 15:27] rmcilroy commented on #28
The reason for this is again related to the reason in #27. If we have say an idle period with a 10ms deadline, and the first and only callback decides it needs more than 10ms then it would reschedule itself and return. This means there is still say ~9ms left in the idle period and no idle task to run. If the browser decides to take advantage of this and start a new idle period (this time with 9ms

[2015-10-15 15:51] bzbarsky commented on #28
That makes a bit more sense, yes.

For the one-callback case, I guess I can buy your argument that we want to push off things it schedules to after the idle period deadline, though in the case when the idle period was the maximally allowed 50ms even that doesn't necessarily make sense, because the callback is not likely to be rescheduling because it can't fit its work in 50ms.

That is entirely un

[2015-10-15 19:58] igrigorik commented on #26
Ditto.

[2015-10-15 20:01] igrigorik commented on #27
You could.. If you request multiple callbacks you can split your work across them and they'll be scheduled back-to-back. Not the greatest pattern, but it is possible.

[2015-10-15 20:02] bzbarsky commented on #27
That requires you to know ahead of time that you will need to do multiple callbacks, no?

[2015-10-15 20:05] igrigorik commented on #27
Yes it does, which is why I said it's not the greatest of patterns.. To your point in #28, I do agree that it might make sense to provide some finer control over the scheduling (e.g. back-to-back vs wait until next idle period vs I want to wait for a long (50ms) idle block).

[2015-10-16 15:01] rmcilroy commented on #24
Hopefully done in #30. I've never used the respec webidl markup before though, so comments on that pull request are welcome.

[2015-10-16 15:17] rmcilroy commented on #29
Right, I don't think it matters which order the callbacks of different documents interleave, all that matters is that the callbacks for a particular document happen in-posting-order (e.g, all orderings are valid as long as A1 is before A2 and B1 is before B2).

I'm not quite sure how to rewrite the spec to avoid this constraint - my intention with the "For every document in docs, in any order" was

[2015-10-16 15:27] bzbarsky commented on #29
One option would be to do rephrase to something like this:

While docs is not empty, select any document in docs, remove the first callback from its list, put it in the queue, if its list is now empty remove it from docs.

[2015-10-23 14:42] igrigorik opened #31 "Review TAG feedback"
https://github.com/w3ctag/spec-reviews/issues/70

[2015-11-02 20:27] Krinkle opened #33 "Clarify meaning of "guarantee" for timeout callback"
I assume this "guarantee" is relatively weak in that it is subject to:
1. The page staying open long enough.
2. No synchronous code running in the main thread preventing the event loop from progressing.

I think point 2 is in the category of "shooting oneself in the foot", but I'm curious about point 1.

I'm not expecting a super strong guarantee since there are always factors that may cause a use

[2015-11-09 20:08] Krinkle opened #34 "Friendly callbacks"
There's a notion of "friendly callbacks" I've seen in a few places where people showcase `requestIdleCallback`. This is a kind of callback that checks `timeRemaining()` to decide whether to do the work now or not, e.g. when there is not enough time left to synchronously do the work it expects to take a certain amount of time (e.g. if they need 40ms, and there's only 10 of the 50ms left, they'll re

[2015-11-10 17:29] rmcilroy commented on #27
Sorry for the delay, I've been busy with other things. I've uploaded #35 to hopefully at least clarify the current idle posting semantics.

If we want to provide finer control over scheduling (i.e., back-to-back or waiting for a long idle period) we should probably open a separate issue to discuss that.

[2015-11-11 17:19] igrigorik commented on #34
Well, the spec title is "Cooperative Scheduling of Background Tasks".. with emphasis on cooperative :-)

If the current idle period has expired the execution of remaining callbacks is deferred until next period, and they're processed in FIFO order, so the ones that have been in the queue longer will be processed first.

It may make sense to allow smarter scheduling where the application can commun

[2015-11-11 20:08] Krinkle commented on #34
True, but in the scenario of a "friendly callback" (i.e. one that checks `timeRemaining()` and requests a new callback for itself and returns early if it expects to need more time), it will essentially be a fresh entry in the queue. Not one that has been there longer.

Yeah, agreed completely. One shouldn't need to check timeRemaining() though? Once the budget is exceeded, the user agent will fini

[2015-11-12 15:57] igrigorik commented on #34
Yes, exactly. Except, don't stop "right after" as that means you've just exceeded your frame budget and UA will be forced to skip a frame. Instead, check timeRemaining() and exit when it's sufficiently low (i.e. estimated time for your task is greater than remaining time in the idle block).

[2015-11-12 20:44] #34 closed, assigned to nobody

[2015-11-12 20:45] Krinkle commented on #34
I'll close this for now, though we could perhaps improve the documentation a bit.

[2015-11-24 18:51] igrigorik commented on #26
Closing. Please feel free to reopen if this needs further action.

[2015-11-24 18:51] #26 closed, assigned to nobody

[2015-11-24 18:52] #24 closed, assigned to nobody

[2015-12-01 21:28] dentuzhik commented on #33
Also interested in behavior of execution, when tab is closed.
In current chrome dev docs, it's even recommended to use as tool for scheduling sending of analytics data, what actually doesn't play good, if delayed execution is not guaranteed (like in navigator.sendBeacon).

[2015-12-09 22:00] igrigorik commented on #31
Resolved via https://github.com/w3c/requestidlecallback/pull/32.

[2015-12-09 22:00] #31 closed, assigned to nobody

[2015-12-09 22:01] igrigorik commented on #27
#35 landed, closing. @bzbarsky please feel free to reopen if we need to do more work here.

[2015-12-09 22:01] #27 closed, assigned to nobody

[2016-03-03 19:34] igrigorik opened #36 "Integration with IntersectionObserver"
Tracking https://github.com/WICG/IntersectionObserver/issues/108.

[2016-03-13 14:18] aFarkas opened #37 "idle callbacks should not be scheduled, if layout is dirty"
I'm playing around with `requestIdleCallback` in Chrome implemenation and I have realized, that `rIC` is also called if layout is dirty.

Because of the general behavior of `rIC` it is a great way to schedule layout neutral or layout read operations. But if layout was invalidated before, calling idle callbacks destroys the possibility to schedule layout read operations, because the browser actuall

[2016-03-22 21:28] rmcilroy commented on #37
This is interesting. I think it is the case that the implementation in Chrome only calls rIC callbacks after the layout operations of the previous rAF have been performed. @skyostil do we wait for all layout operations from the previous rAF to be complete before running rIC callbacks?

@aFarkas, do you do all the layout write operations in rAF callbacks or other timers / callbacks? I guess a timer

[2016-03-22 22:41] aFarkas commented on #37
Yes, this is causing the issue. Unfortunately, it is caused by a script that I don't own. And there is no clean solution to avoid layout thrashing at this point for me.

Yes, If this API could be implemented in a synchronous way in all browsers, it would be a great feature. And can be used standalone as also in combination with rIC. If this is only possible async, it wouldn't be that bad to merge

[2016-03-22 23:20] igrigorik commented on #37
Aside: does this result in double layout as well, then? As in, the browser doing the layout work twice. Because if so, then ugh.. If you don't mind me asking, what script / who is the provider?

I agree with Ross that this smells like an orthogonal feature to rIC. My suggestion would be open a discussion on https://discourse.wicg.io/ and see where that goes.

[2016-03-23 01:18] aFarkas commented on #37
Yes, the third party script ends with layout invalidation. Then  I force layout  in a rIC and in a rAF I write layout. So the forced layout calculation is never committed and needs a relayout, due to my rAF.

Not really important. I work on a tv site and the player script is a custom, but third party solution (also hosted on a different server), by the tv station. But I'm pretty sure it will get m

[2016-03-23 02:23] igrigorik commented on #37
I see. Any chance you can ping them and get them to fix this behavior? Yes, it's one of many, but we have to start somewhere.. I'm not convinced that even if we had the API you're asking for, it would actually solve your problem, since all it takes is one bad actor that continually schedules a task outside of a rAF to break your logic -- i.e. layout is always dirty and browser is doing twice the w

[2016-03-23 09:06] aFarkas commented on #37
Of course this API wouldn't solve every layout thrashing problem that exist. If we look into famous scripts, we find enough layout thrashing ([1](https://github.com/jquery/jquery/blob/9b086888b803db872e8906cbdbf0de458231f225/src/css/support.js#L31-L49), [2](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/transforms3d.js#L21-L34) and many more. (Note that all those scripts no

[2016-03-23 10:51] skyostil commented on #37
@rmcilroy in Chrome idle tasks run only after all other tasks, but if one of those tasks mutates the DOM and doesn't subsequently read from it (causing a synchronous layout), we'll enter the idle task with a dirty layout.

At first blush restricting idle tasks to run only with a clean layout might be an easy way to accidentally stop them running at all. Because of that I also agree that a separate

[2016-03-23 11:40] aFarkas commented on #37
This makes totally sense for idle detection and makes clear, why my wish shouldn't be part of the rIC API.

Basically a simple `requestReadCallback` API should be called right after frame commit but before any other tasks to make sure no other scripts/tasks have invalidated layout.

I'm closing this, because it should be handled somewhere else, but I hope we can still discuss this here: https://di

[2016-03-23 11:40] #37 closed, assigned to nobody

[2016-04-12 17:24] igrigorik commented on #25
@annevk @domenic what's the right concept for us to use here?

[2016-04-12 17:49] igrigorik commented on #33
@Krinkle apologies about the delay! How about the following...

So, we setup a timer on your behalf and queue a task within it (if it's reached).. As such, I think that also answers your other question about unload and restore: we don't execute all the outstanding timers when unloading, and same applies to rIC. If there are outstanding rIC tasks, regardless of whether they have a timer or not.. th

[2016-04-12 18:16] domenic commented on #25
This should go away

Why not just associate these things with Windows, instead of Documents? Then you can use "this `Window` object's idle callback identifier" etc. That is what setTimeout does, for the [list of active timers](https://html.spec.whatwg.org/#list-of-active-timers).

---

If you do stick with Documents, I think you want "this Window object's newest Document object", similar to [how `

[2016-04-12 19:51] igrigorik commented on #25
That would, indeed, simplify things. @rmcilroy any objections?

[2016-04-13 12:03] rmcilroy commented on #25
Nope, no objections, that would indeed makes sense.

[2016-04-14 09:45] aFarkas commented on #37
@skyostil and @rmcilroy

I have two questions:
I re-thought on this. As I understand rIC, rIC is in general scheduled between frame commit and upcoming v-sync. At the time of frame commit the layout shouldn't be invalidated and it is already very unlikely that layout is dirty at the time a idle callback is called.

Only in the rare situation, that a timeout sneaks in to this exact time, it will be

[2016-04-14 10:25] skyostil commented on #37
That's correct, we currently don't coordinate rIC with timeouts, network loads or other activity that might invalidate the document before rIC runs. I think I'm leaning toward left-aligning those tasks in the frame to avoid the redundant computation and the possibility of janking you mentioned. One issue is that this will somewhat reduce the precision of setTimeout(), although that hasn't been ver

[2016-04-14 17:19] igrigorik commented on #25
@domenic @rmcilroy first run at it: https://github.com/w3c/requestidlecallback/pull/38 - please take a look.

[2016-04-19 23:41] #33 closed, assigned to nobody

[2016-04-26 18:18] igrigorik commented on #29
@bzbarsky I'm trying to wrap my head around the above.. Can you explain how you arrived at this ordering?
- each document has a runlist
- when in an idle period starts we iterate over all the docs and:
  - update their runlists
  - queue a task to process each runlist that, in turn, processes a single callback and queues another task to repeat the same steps

Conceptually, I think this allows any

[2016-04-26 18:30] bzbarsky commented on #29
It does not.  Say you have two docs A and B.  When an idle period starts, you iterate over them.  The iteration will be either A first then B, or B first then A.  If it's A first then B, then you will queue the task to process A's runlist, then the task to process B's runlist.  When the first task runs it will queue another task to keep processing A's runlist.  But that will of course run _after_

[2016-04-26 18:57] igrigorik commented on #29
Got it, think I'm with you now -- thank you.

What did you have in mind for "queue" in this instance? Some global callback list that's shared by all documents?

[2016-04-26 19:49] bzbarsky commented on #29
Hmm.  I guess what I meant is that instead of having a task per document in flight we'd just have one task in flight that closes over all the runlists (or documents, equivalently).  When the task runs, it would pick one of the runlists, run the first thing in it, forget the runlist if it's now empty, and then repost itself.

Basically, yes, a single queue but allowing dynamic prioritization as you

[2016-04-26 20:45] igrigorik commented on #29
Hmm, how about something like this...

Would that do the trick? /cc @rmcilroy

[2016-04-27 03:50] bzbarsky commented on #29
That seems about right to me, yes.

[2016-04-27 12:14] rmcilroy commented on #29
Yes that works for me too. Thanks to you both!

[2016-04-28 16:09] #25 closed, assigned to nobody

[2016-04-28 17:03] #29 closed, assigned to nobody

[2016-05-03 17:30] igrigorik commented on #28
@bzbarsky in its current form, it's implicitly ~"poke me during your next idle period and I'll see whether I have work to do". I do agree that it might be useful to allow more flexible scheduling - e.g. reschedule within same idle period, schedule into long idle period or a period with at least X time, and so on. That said, I think this is a feature we should consider for "L2" version of the spec.

[2016-05-03 17:46] bzbarsky commented on #28
OK, but why do we think this is the most common thing to want?

Apart from that, I have no strong opinions on this stuff anymore; I've sort of stopped caring....

[2016-05-03 19:46] igrigorik commented on #28
Current design was informed by our experience with the scheduler use cases used by the various (internal) subsystems within Chrome; current API exposes same/similar capabilities to web developers... And, based on current adoption metrics (up to ~5% of page loads in Chrome), it appears to be doing well with the current model -- I've certainly had people ask about alternative scheduling strategies,

[2016-05-03 19:46] #28 closed, assigned to nobody

[2016-05-18 16:58] toddreifsteck opened #41 "Improve the specification of how requestIdleCallback events are ordered"
@plehegar @digitec and myself reviewed this in Redmond last week.

One issue we observed was that it wasn't instantly obvious the exact scheduling order for callbacks.

We came up with 2 options from reading the spec, but had to reread a couple of times. Is a the correct summary?
a. OUR BELIEF--
A callback with a timeout is injected into a queue AND into a timeout system similar to the one used fo

[2016-05-18 17:03] rmcilroy commented on #41
The intention (and implementation in Chrome) is option A - the callback is queued on both a rIC queue and a setTineout queue and whichever is run first cancels the other one.

Happy to take suggestions on which part of the spec could be improved to make this more obvious.

[2016-05-18 17:05] toddreifsteck opened #42 "When/how could 50 ms chunks of time occur vs. typical frame-based 16 ms?"
The spec allows for up to 50 ms chunks of idle time, but that only seems possible if there are no setTimeout, no RAF, no CSS animations and likely a few other exclusions... It may be helpful to explain a few more details about how a web page author can put themselves in the position to get large idle chunks of time.

[2016-05-18 17:40] toddreifsteck opened #43 "What should occur if requestIdleCallback backs up?"
Should the queue limit size or will it eventually run out of memory? This is an edge case but.. I can imagine it being a problem on a site that isn't tested on low end hardware.

[2016-05-18 17:44] toddreifsteck opened #44 "diagram with frame commit and vsync is inaccurate for some browsers"
IE and Microsoft Edge currently perform a frame commit immediately after vsync rather than immediately before. I've reviewed HTML5 and do not see this is a cross-browser specced behavior. (Perhaps it should be.....) The diagram should probably be in terms of the HTML5 render loop rather than referring to vsync and frame commit.

[2016-05-18 20:30] rmcilroy commented on #43
Personally I think creating unbounded rIC tasks without some feedback of when tasks have been run is a programming error, in the same way as creating unbounded setTimeout tasks or indeed unbounded objects of any type. In my opinion it is perfectly reasonable for such an error to cause OOMs and I don't think we should special case with an explicitly limit queue size in this instance but not for oth

[2016-05-18 20:43] rmcilroy commented on #42
Sounds good to me. Maybe we could add it as a Note in section 2.

[2016-05-20 18:31] jyasskin opened #45 "Use push/pop or append/take-the-first"
https://www.w3.org/TR/requestidlecallback/#dfn-invoke-idle-callbacks-algorithm says "Pop callback from document's Window object's list of runnable idle callbacks.", but other uses of that list say ["Append all entries from doclist into runlist preserving order."](https://www.w3.org/TR/requestidlecallback/#start-an-event-loop-s-idle-period) or ["Append callback to window's list of idle request call

[2016-06-22 22:40] dbaron opened #46 "implementations should be allowed to consider work beyond "other event loops""
This is filed as a followup from https://github.com/w3ctag/spec-reviews/issues/70 .

[5.1 Start an event loop's idle period](https://w3c.github.io/requestidlecallback/#start-an-event-loop-s-idle-period) currently says "and that background work could be executed on this event loop without impacting any high priority work occurring on other event-loops".

This seems like it precludes user agents fro

[2016-06-24 21:25] igrigorik commented on #46
Yep, seems reasonable. @toddreifsteck @plehegar any objections?

[2016-06-24 21:40] rmcilroy commented on #46
Yup, sounds good to me.

[2016-06-24 21:45] rmcilroy commented on #45
The intended semantics are that of a queue. I'm don't necessarily think push/pop implies stack semantics (e.g., std::queue uses push/pop), but agree we this could be clearer. How about "pop the first element" (to make it clear the element should be removed)?

[2016-06-26 18:15] plehegar commented on #46
:+1:

[2016-08-12 20:46] smaug---- opened #47 "It is unclear what IdleDeadline.timeRemaining() should return if JS keeps the IdleDealing object alive even after the callback call."
I assume it should be 0, but the spec language doesn't really capture that case, since there isn't any  associated callback anymore at that time.

[2016-08-15 09:25] rmcilroy commented on #47
The implementation in Chrome keeps an absolute deadline time internally in the IdleDeadline object, with timeRemaining() being the relative time between this deadline and performance.now() (with a floor of 0). This means the timeRemaining counts down to this deadline even if after the callback call (and then stays at zero once it reaches it).

It feels like it might be useful to allow the IdleDead

[2016-08-22 15:32] bzbarsky commented on #47
I don't have any thoughts offhand.

[2016-08-22 15:42] smaug---- commented on #47
I don't think it really matters much what is spec'ed here, just that _some_ behavior is spec'ed.

[2016-08-25 20:38] toddreifsteck commented on #47
I agree with @smaug---- . We should either outline future use cases are spec IdleDeadline as well as we can within our current use cases.

[2016-10-13 22:51] igrigorik opened #48 "Transition Level 1 to CR"
- **Known / outstanding spec issues**
  - [ ] Address editorial feedback: https://github.com/w3c/requestidlecallback/milestone/1
- **Web platform tests**
  - [x] Land https://github.com/w3c/web-platform-tests/pull/2163.
- **Privacy and security**
  - [x] https://w3c.github.io/requestidlecallback/#privacy-and-security
- **Implementations**
  - [x] Chrome: [M47+](https://www.chromestatus.com/feature

[2016-10-19 00:52] cramforce opened #49 "Allow requesting a minimum time budget"
I my experience every use of `requestIdleCallback` will eventually have a wrapper like this one:

[code]

…where rIC is called recursively until a time budget under some requirement is reached. Among other things this requires managing the timeout in user code, because one will typically want a timeout across these calls.

This would be fixed by allowing the caller to pass in something like `minim

[2016-10-27 23:57] igrigorik commented on #49
@cramforce you probably want to use `performance.now()` instead of `Date.now()`... :-)

We did discuss ~this earlier: https://github.com/w3c/requestidlecallback/issues/28#issuecomment-216604770.

[2016-10-28 00:17] cramforce commented on #49
@igrigorik the point is that the code is complicated and buggy. This needs to be solved in the platform.

[2016-10-28 00:31] igrigorik commented on #49
Yep, no disagreement there. I'm just linking to previous discussions on this for context.

[2016-11-28 21:53] igrigorik commented on #43
Agree with @rmcilroy, we don't impose any such limits on setTimeout and friends, and I don't think this is something we should limit on rIC in particular either. I propose we close this with no action.

@toddreifsteck any objections? FWIW, it may be a worthwhile conversation at a higher level (i.e. perhaps we should have reasonable limits on all such mechanisms), but I think that's out of scope fo

[2016-11-28 22:09] igrigorik commented on #41
@toddreifsteck re-reading the steps a few times on this end.. I think my best suggestion would be to add a non-normative note [between steps 5 and 6](https://w3c.github.io/requestidlecallback/#the-requestidlecallback-method) clarifying the intent (option A). Something like:

WDYT?

[2016-11-28 22:17] igrigorik commented on #44
`| [ run task ] [ update rendering ] ----[ idle period ]----| [run task] [...`

Is that what you're thinking? @rmcilroy does that work?

[2016-11-28 22:21] igrigorik commented on #47
https://w3c.github.io/requestidlecallback/#the-timeremaining-method

Is this not sufficient? =/

[2016-11-28 22:33] igrigorik commented on #42
Is that roughly what we're looking for?

[2016-11-28 22:36] bzbarsky commented on #47
The problem is in step 1 of the algorithm: there is no "associated callback" at that point, so "the deadline of the associated callback" is not defined at all.

[2016-11-28 22:38] #46 closed, assigned to igrigorik

[2016-11-28 22:46] igrigorik commented on #45
Looking at the HTML spec: _Pop the top element from the stack; Pop the top entry; ..._

Does that work?

[2016-11-28 22:57] igrigorik commented on #47
Ah, ok, I see the confusion.  So, in 5.2 (Invoke idle callbacks algorithm) we have..

In other words, IdleDeadline has a references to deadline time. Can we just drop step 1 in 4.3 (Let deadline be the..) to clear this up? Alternatively, we could spell it out.. "Lead idledeadline be the DOMHighResTimestamp value of the deadline argument of IdleDeadline", or some such?

[2016-11-29 16:40] rmcilroy commented on #44
I'd like to still keep the concept of frames in this diagram, since it is meant to be explaining the intention for idle periods between frames. I'm happy to remove the vsync markers from the diagram though. Would the attached diagram for you @toddreifsteck ?

![cooperative scheduling of background tasks](https://cloud.githubusercontent.com/assets/797814/20718985/716b9baa-b652-11e6-8516-bfb96f138ec

[2016-11-29 16:48] rmcilroy commented on #42
Sounds good to me, although maybe we want to explicitly mention the 50ms (i.e., replace ">16ms" with "up to 50ms" so that developers don't think it's OK to schedule things every 16ms?

[2016-11-29 16:51] rmcilroy commented on #45
Works for me :+1:

[2016-11-29 16:58] rmcilroy commented on #47
Yes this sounds good to me. Dropping step 1 (and also updating the "callback's deadline" with "the deadline argument passed to IdleDeadline" in the paragraph above) would be my preference if it is clear enough to everyone else.

[2016-11-29 18:21] igrigorik commented on #44
@rmcilroy I think we have to remove "frame commit", per Todd's earlier comment. Also, this diagram is not clear as to when all the other steps run.. Referencing "update rendering" and "run task" maps to the html definition: https://html.spec.whatwg.org/#event-loop-processing-model

[2016-12-01 19:46] bzbarsky commented on #47
That seems fine, yes.

[2016-12-14 17:40] #41 closed, assigned to toddreifsteck

[2016-12-14 17:40] #42 closed, assigned to igrigorik

[2016-12-14 17:40] #45 closed, assigned to igrigorik

[2016-12-14 17:40] #47 closed, assigned to nobody

[2016-12-14 18:10] toddreifsteck commented on #43
No objections. Closing.

[2016-12-14 18:10] #43 closed, assigned to igrigorik, toddreifsteck

[2016-12-14 18:12] toddreifsteck commented on #44
Agree with @igrigorik . We need the diagram to match the HTML5 event loop processing model. (And we need this spec to ideally make its way into that processing model as it is adding to it)

[2016-12-14 20:33] rmcilroy commented on #44
Fair enough, how about this:
![cooperative scheduling of background tasks](https://cloud.githubusercontent.com/assets/797814/21199494/128c246c-c244-11e6-9ddc-566598d84b99.jpg)

I also agree Todd, the spec should make it's way into that processing model.

[2016-12-14 20:43] igrigorik commented on #44
👍

[2016-12-14 21:51] toddreifsteck commented on #44
Better.. but I think the diagram needs to be specific. Update Rendering has a number of steps including snapping rendering and I think IdleCallback is before "update UI" and after RAF, isn't it? Does it happen before or after IntesrectionObserver callbacks?

[2016-12-14 21:53] toddreifsteck commented on #44
Now I'm looking again.. wow. I think it is after the entire Update Rendering chunk? Am I now reading that accurately?

[2016-12-15 10:31] rmcilroy commented on #44
Yes exactly, I think rIC should be entirely after the Update Rendering chunk. The intention is that the idle period is the time between UI updates for the next frame, but ends before the UA wants to start work on the frame after that (e.g., before the next rAF).

Do you still want more blocks split out or does this work given it's after the entire update rendering chunk?

[2016-12-21 04:55] Krinkle opened #51 "Images not found for w3.org"
While the images are fine on <https://w3c.github.io/requestidlecallback/>, on <https://www.w3.org/TR/requestidlecallback/> most of the images are broken due to the url yielding a 404 Not Found response.

For example, <https://www.w3.org/TR/requestidlecallback/#idle-periods> got a 404 Not Found for <https://www.w3.org/TR/requestidlecallback/images/image01.png>.

[2016-12-21 08:10] siusin commented on #51
Thanks! It should be working now.

[2016-12-21 08:10] #51 closed, assigned to nobody

[2016-12-21 16:25] igrigorik commented on #44
That's the assumption I was working with too. Well, at least with respect to the HTML spec.. We all understand that the loop described there is a loose approximation of how this code is structured in various implementations.

@rmcilroy what is the src doc for that diagram? Let's add a link to it as an HTML comment above the figure, such that other editors can iterate on it in the future.

[2016-12-21 16:27] igrigorik commented on #36
No-op for rIC spec itself, we'll continue discussion in IO repo.

[2016-12-21 16:27] #36 closed, assigned to nobody

[2016-12-21 16:29] igrigorik commented on #48
For posterity: approved CR transition [on last week's WG call](https://lists.w3.org/Archives/Public/public-web-perf/2016Dec/0011.html), modulo resolving https://github.com/w3c/requestidlecallback/issues/44.

[2016-12-21 18:25] toddreifsteck commented on #44
K, I'm good with this update. Spent a bit of time reviewing what it would take to implement... and current thinking is that this is doable. (We reserve the right to give feedback when we actually implement, of course. :-))

[2016-12-21 19:28] igrigorik commented on #44
Sounds good! @rmcilroy can you update the diagram and add the link? Alternatively, if you give me access to the doc with the diagram, I can do it on this end.

[2017-01-03 11:21] rmcilroy commented on #44
Sorry for the delay, just back from vacation. Updated both diagrams and added comments to their source in pull request #52. Please take a look.

[2017-01-03 11:22] rmcilroy commented on #48
Great stuff, thanks for pushing this forward to CR Ilya.

[2017-01-03 18:04] igrigorik commented on #44
Closing, resolved via #52.

[2017-01-03 18:04] #44 closed, assigned to igrigorik

[2017-01-03 18:06] igrigorik commented on #48
@plehegar @siusin I believe the doc should be ready for CR. Would one of you be willing to file the transition request?

[2017-01-09 18:45] #48 closed, assigned to nobody

[2017-01-31 19:14] plehegar commented on #48
https://www.w3.org/TR/2017/CR-requestidlecallback-20170131/

[2017-01-31 19:16] igrigorik commented on #48
\o/ ... thanks Philippe!

[2017-01-31 19:31] rmcilroy commented on #48
Awesome! Thanks Philippe

[2017-04-18 08:23] annevk opened #54 "timeRemaining() is badly defined"
You can't say "performance.now()" as such. You need to use an underlying primitive. Otherwise it's unclear what should happen when someone gave an alternate meaning to that function in a global.

[2017-04-18 08:24] annevk opened #55 "timeRemaining() is badly defined, deadline argument"
The deadline argument isn't passed to IdleDeadLine...

[2017-04-18 08:27] annevk opened #56 "Defined IdleDeadline internal layout"
It seems like this object has some private data that its two methods expose. It would be clearer to be explicit about this rather than define things in this after-the-fact style.

[2017-04-18 08:28] annevk opened #57 "Don't monkey patch the event loop algorithm"
Please integrate with HTML directly.

[2017-04-18 20:53] plehegar commented on #57
Are you suggesting that the spec should be moved into HTML directly or something else? If something else, how would you expect the integration to go since the idle periods are intended to be happening outside of event loops?

[2017-04-19 05:53] annevk commented on #57
They cannot happen outside of the event loop. You can integrate via some kind of hook that you'd have to add to HTML if you don't want to integrate it wholesale as we did with animation frames.

[2017-04-19 13:04] plehegar commented on #57
RIC says "Whenever the user agent assesses that a given event loop is likely to remain idle for a non-trivial amount of time, [...], it SHOULD initiate a new idle period for the event loop. [...] When the user agent wishes to start an event loop's idle period [...]" So, if I read the spec properly, it's basically replacing temporarily the event loop with a different one. The spec definitively need

[2017-04-19 13:06] plehegar commented on #55
[This one requires some tightening of the algorithms]

[2017-04-19 13:07] annevk commented on #57
Yeah, I don't think we should do it that way. We should just have a very low-priority task source for idle tasks that we only run if the other higher priority sources are empty.

[2017-04-19 13:08] annevk commented on #57
That would probably not even require all that much integration, since user agents are already allowed to prioritize task sources as they see fit.

[2017-04-19 16:21] domenic commented on #57
Yes, running code outside the event loop breaks all kind of fundamental platform invariants; this definitely needs integration.

[2017-04-19 16:24] domenic commented on #57
And, I also agree that this could probably be done without any changes to the HTML Standard itself, just by defining a new task queue and making some comments about how when user agents select a task queue at the top of the event loop algorithm, this one should be deprioritized. (I guess, unless the deadline is imminent/passed, in which case it should be highly prioritized.)

[2017-04-19 17:07] annevk commented on #57
Making HTML maintain a list of task sources would be useful at some point though. Plus some advice on how to pick them. There's definitely some refactoring there that's worth doing at some point.

[2017-05-09 15:20] swickr commented on #55
I suspect the text "the deadline argument passed to IdleDeadline" should be something like "the _deadline_ in the IdleDeadLine object"

(ref [5.2 Invoke idle callbacks algorithm](https://w3c.github.io/requestidlecallback/#invoke-idle-callbacks-algorithm))

[2017-05-09 15:21] swickr commented on #55
dummy

[2017-05-09 15:24] swickr commented on #56
specifically, a _deadline_ as well as _didTimeout_

[2017-05-09 17:31] annevk commented on #55
Yeah, usually you have something that says "IdleDeadLine objects have an associated X." And then elsewhere you have "Return _idleDeadLineInstance_'s X."

[2017-07-27 14:57] rmcilroy commented on #57
I'm not entirely sure how to go about this change. As I see it, everything except for the algorithm in section 5.1 (Start an event loop's idle period) runs as standard tasks on the event loop. We already have a low priority task source for these tasks (see the "idle-task task source" in section 5.1).

However, just having a low-priority task source isn't enough - we need to be able to enable / dis

[2017-07-27 14:58] igrigorik commented on #54
Resolved via https://github.com/w3c/requestidlecallback/pull/58, closing.

[2017-07-27 14:58] #54 closed, assigned to nobody

[2017-07-27 14:58] igrigorik commented on #55
Resolved via https://github.com/w3c/requestidlecallback/pull/58, closing.

[2017-07-27 14:58] #55 closed, assigned to nobody

[2017-07-27 14:58] igrigorik commented on #56
Resolved via https://github.com/w3c/requestidlecallback/pull/58, closing.

[2017-07-27 14:58] #56 closed, assigned to nobody

[2017-07-27 15:09] annevk commented on #57
I don't think you can turn it into a task since that might run too soon per your criteria as well. With those requirements you probably do need changes to the HTML Standard.

[2017-07-28 16:24] rmcilroy commented on #57
I had a bash at changing the "start idle period" part of the algorithm to be a task in #60, I think it should still provide similar semantics to the current spec. Please take a look and let me know what you think.

[2017-08-07 14:42] igrigorik commented on #57
Closing, resolved via #60.

[2017-08-07 14:42] #57 closed, assigned to nobody

[2017-08-07 14:45] annevk opened #61 "Define IdleDeadline internal layout part 2"
didTimeout is still defined in a weird way.

[2017-08-07 14:51] igrigorik commented on #61
What do we need to clarify here?

[2017-08-07 16:00] annevk commented on #61
You don't want to define an attribute value in terms of whether a callback was invoked. The must requirement doesn't translate to straightforward code.

[2017-08-07 16:12] rmcilroy commented on #61
Would changing it work if we changed the phrasing of the initial sentence to be:

[2017-08-07 16:16] annevk commented on #61
No, you should just define it how it's implemented. IdleDeadline has an associated X, which is initially Y. didTimeout's getter must return X. The callback sets X to Z.

[2017-08-09 10:57] rmcilroy commented on #61
Got it, thanks. Should be addressed in #62. I added some of the text about being executed outside an idle period to clarify the reason for didTimeout after defining it - I can make this a non-normative note if you prefer.

[2017-08-10 23:48] igrigorik commented on #61
Resolved via https://github.com/w3c/requestidlecallback/pull/62.

[2017-08-10 23:48] #61 closed, assigned to nobody

[2017-09-15 16:22] annevk opened #64 "Add [Exposed] to all interfaces"
Needed for https://github.com/heycam/webidl/issues/365.

[2017-09-25 07:20] #64 closed, assigned to rmcilroy

[2017-10-10 09:45] iherman opened #67 "(Editorial) Example 1 does not render properly"
The original source says

[code]
However, the '*' character does not display on some (all?) browsers; an empty space is displayed. See, for example,

![image](https://user-images.githubusercontent.com/520723/31379982-3e18d4ba-adb0-11e7-889b-a1787990eee6.png)

I see the same in FF, Vivaldi, FF Dev edition, Chrome...

[2017-10-10 15:18] igrigorik commented on #67
Thanks for flagging this. Paging @marcoscaceres.. This looks like a respec issue, I think.

[2017-10-13 06:33] marcoscaceres commented on #67
Whoa.. yeah. That's messed up. The highlighter seems to be stripping the "*". Will poke at it a bit more.  You might want to add CSS class "nohighlight" for now.

[2017-10-13 06:33] marcoscaceres commented on #67
Filed: https://github.com/w3c/respec/issues/1389

Will poke at it look soon.

[2017-10-13 07:21] marcoscaceres commented on #67
It's actually a bug with the markdown parser :( I might need to replace the markdown parser. Looking for options.

[2017-10-18 05:52] marcoscaceres commented on #67
@igrigorik, unfortunately, it's going to be another 2 weeks or so before I get to this. Could you maybe change the example to (the problem happens when "*" appears twice on the same line):

[code]

[2017-10-19 06:51] sebmarkbage opened #68 "Priority Queue Option"
We find ourselves often having multiple pieces of work at different priority levels. E.g. React implements a priority queue and a central requestIdleCallback. Then it picks the highest priority to work on at any given point.

The problem is that different frameworks don't share the same priority queue. So low priority work in one system can get prioritized over high priority work in another framew

[2017-10-19 10:00] RReverser commented on #68
Can't think of a good alternative, but wouldn't numbers for priority API lead us into z-index:9999 situation where developers will prioritize things with abitrary high numbers and there would be still no guarantee which one is highest in the codebase?

[2017-10-19 10:19] mbrevda commented on #68
Currently a colocated framework/library can tie up the thread by simply not using `requestIdleCallback`, causing all their code to run even before `requestIdleCallback`. It doesn't seem this proposal is worse than the current situation.

[2017-10-19 10:25] motiz88 commented on #68
To @RReverser's point, it is probably far less trivial to standardise a semantic taxonomy of work priorities (e.g. `"animation" | "user" | "network" | ...`) than to provide a simple numeric API, but maybe it's worth a shot? For extensibility & long-term interoperability in the face of `priority: 9999` etc.

That, or at least a _bounded_ scale of integers e.g. one to ten, or however many discrete s

[2017-10-19 11:32] rmcilroy commented on #68
One of the other advantages of a standardised taxonomy of work priorities is that the user-agent can explicitly remap the relative priorities of different work types depending on the phase of execution (loading / animating / idle  etc.). We do exactly this in Chrome's internal scheduler for exactly this reason.

@skyostil who might also have thoughts on this.

[2017-10-19 16:11] sebmarkbage commented on #68
Yea I agree standardizing this is tough but we might also see some different conventions fall out of it.

In React we actually just use the absolute `timeout` time as the priority (the lower time, the higher priority). That way things that risk timing out soon automatically gets higher priority.

[2017-10-19 17:35] skyostil commented on #68
I agree that a semantic labeling of tasks has historically worked better for us in Chrome vs. letting everyone set their own priorities. However defining meaningful semantics might be difficult -- maybe we could look at [task sources](https://html.spec.whatwg.org/multipage/webappapis.html#generic-task-sources) for inspiration. Note that we already have some of that -- e.g., to schedule an animatio

[2017-10-21 01:00] sebmarkbage commented on #68
Thinking about this some more, I think that semantic labeling would not be sufficient for us to get rid of our own implementation. We sometimes have up to *63* different levels and prefer to do the work in that order. Every relative priority between them probably doesn't matter that much but it is much more granular than a few simple priority levels.

For example, we would use this to determine wh

[2017-10-23 11:30] farre commented on #68
I think adding priorities at the requestIdleCallback level is a bad idea precisely because of the max priority issue. If callers of requestIdleCallback are allowed to set an arbitrarily high priority, one part of the code base could starve another, effectively degenerating requestIdleCallback to setTimeout for the lower priority ones. This is _worse_ than the situation today, since the intent of r

[2017-10-23 11:40] farre commented on #49
I see the need for this, but I was thinking of how this would work when a script using minimum budget runs in contexts with different idle profiles. Wouldn't a minimum time budget make a developer less encouraged in splitting up the work a callback performs? This would favor platforms with less idle time, which could be a problem. This is of course the case with rIC already, but could this make it

[2017-10-23 15:40] cramforce commented on #49
There are lots of tasks that cannot be split up in any meaningful way: E.g.
load a Youtube or Instagram embed. Given no better choice it is typically
best to do these tasks when the user is least likely to interact.

On Mon, Oct 23, 2017 at 4:40 AM, Andreas Farre <notifications@github.com>
wrote:

[2017-10-23 16:03] sebmarkbage commented on #68
If the priority increases over time you don't risk timing out as much because eventually newer priorities will have less priority than the previous ones. E.g. if the priority is set to "current time + some offset".

[2017-10-23 16:33] RReverser commented on #68
I wonder if combining two approaches and allowing only named, but user-defined, states, could take the best of both worlds or it's going to be too verbose? Something like:

**App-level or framework-level queue:**

[code]

Somewhere in code:

[code]

At least this would solve
1. Issue with non-descriptive numbers.
2. Discoverability issue - all the possible priorities are defined in one place so yo

[2017-10-27 19:46] igrigorik commented on #67
Closing, resolved via https://github.com/rmcilroy/requestidlecallback/commit/c216c4b1190f79fb4cefd32eedfec590fe997774. Thanks Ross!

[2017-10-27 19:58] rmcilroy commented on #67
I don't actually think rmcilroy/requestidlecallback@c216c4b fixes this (at least didn't seem to when I checked, that's why I hadn't made a pull request). Does it fix the issue when you checked?

[2017-10-27 20:02] igrigorik commented on #67
cmd-shift-R... Doh.

@rmcilroy any objections to Marcos' suggestion on changing the example?

[2017-10-27 20:05] rmcilroy commented on #67
Nope if that fixes it SGTM, thanks

[2017-10-27 20:26] igrigorik commented on #67
Actually, it didn't.. Doh, again. @marcoscaceres back to the drawing board? :)

[2017-10-28 01:22] marcoscaceres commented on #67
Could kindly try what I suggested here:
https://github.com/w3c/requestidlecallback/issues/67#issuecomment-337467575

I hit a couple of snags replacing the markdown parse - other parsers are over 100kb minified (compared to ~40kb) for Marked.js... so I’m a bit hesitant to replace it as it would bloat ReSpec to over 500kb. I’ll investigate if there is a fix for this as a PR in marked.js’ repo.

Alte

[2017-10-28 02:15] igrigorik commented on #67
@marcoscaceres I did, same issue.

![image](https://user-images.githubusercontent.com/10652/32130312-2a952da0-bb4b-11e7-83cc-e6f5bae96f1e.png)

[2017-10-28 03:42] marcoscaceres commented on #67
Apologies, I misread. I’ll try a few things out and get back to you soon!

[2017-10-30 09:39] marcoscaceres commented on #67
Sent a PR for this: #69

[2017-10-30 10:02] #67 closed, assigned to nobody

[2017-11-01 09:01] farre commented on #49
@cramforce
Right, I didn't notice that the timeout parameter to the rIC-wrapper was a "soft" timeout. This would introduce another type of timeout, how do you see the two timeouts interacting if both are present? Would the hard timeout count from 'now' or from when we give up trying to get a sufficiently large value from timeRemaining()?

[2017-11-01 14:36] cramforce commented on #49
I think that if `requestIdleCallback` supported something like `minimumTimeRemaining`, then we would not need another timeout type.

[2017-11-02 16:04] siusin opened #70 "Missing definition for "idle time""
pass on an AC Review comment:

... from @dwsinger

[2017-11-07 18:19] igrigorik commented on #70
@rmcilroy @domenic any thoughts on this one?

We provide a non-normative explainer in https://w3c.github.io/requestidlecallback/#idle-periods. Is there a more formal definition that we could draft here?

[2017-11-07 18:34] domenic commented on #70
Could this be defined in terms of https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model ? Something like:

- There is no task to select in step 1
- Perform a microtask checkpoint in step 6 finds an empty microtask queue, no rejected promises to notify about, and no IDB transactions to cleanup
- The UA decided to skip "update the rendering" for all documents controlled

[2017-11-07 22:50] toddreifsteck commented on #70
TPAC 2017:
@rniwa of Apple. Yes, this helps define when Idle period's start may begin if the HTML5 spec is updated in this way. It seems there should be an explicit entry Event Loop after step 7 that this spec should hook.

[2017-11-07 22:57] rniwa opened #71 ""deadline" in the "start an idle period algorithm" should be defined in terms of event loop"
Right now, The [start an idle period algorithm](https://w3c.github.io/requestidlecallback/#start-an-idle-period-algorithm) defines the *deadline* as:

However, the list of active timers is defined in terms of a global object. I don't think that's the intent here. It needs to be defined in terms of the event loop. Perhaps we need a list of active timers for the entire event loop to be defined in th

[2017-11-07 22:58] rniwa commented on #71
@rmcilroy @domenic

[2017-11-10 17:12] rmcilroy commented on #70
Yes, I like @domenic's definition above, that sound about right. It would definitely be simpler if we could add an explicit entry into the HTML5 Event Loop after step 7 to hook into. Would someone be willing to add this hook?

[2017-11-10 17:29] domenic commented on #70
I can try to work on it, but if someone else has more time, that'd be ideal. I think the trickiest thing is writing the prose to keep track of all the things before and after step 7, so that the new step can confidently say "I am idle".

[2017-11-10 18:51] rmcilroy commented on #71
I think this is best resolved by hooking into the HTML event loop spec as is being discussed in #70

[2017-11-30 05:06] esprehn opened #72 "Spec should allow setting timeRemaining to 0 early"
Chrome's implementation will drop the timeRemaining to 0 when certain high priority things happen (ex. There's a pending touch). The spec doesn't seem to have a UA hook for doing that.

https://w3c.github.io/requestidlecallback/#the-idledeadline-interface

[2018-03-13 23:30] igrigorik commented on #70
@domenic any progress on your front? Got a ping from @plehegar on this one. Philippe, you said this is blocking the HTML spec?

[2018-03-15 06:30] domenic commented on #70
I'll put up a patch today. However, I'm unsure how exactly to integrate. Right now the idling seems a bit implicit in "start an idle period": requestIdleCallback queues a task, that waits for the event loop to become idle (by spinning it until it's empty), and then queues another task to invoke callbacks.

Probably the simplest integration would be if, when the HTML spec noticed it was idle, it ca

[2018-03-17 16:43] igrigorik commented on #70
Paging @rmcilroy @plehegar for feedback :)

[2018-03-20 17:21] rmcilroy commented on #70
Thanks for looking into this @domenic!  I think integrating into step 5 onwards would be the best bet. The main reason to queue another task in step 13 is for the following:
 - Each idle callback executed by "invoke idle callback algorithm" spins the event loop letting other higher priority tasks have a chance to execute instead of idle tasks
 - We only want to run tasks posted before the current

[2018-07-25 20:12] philipwalton opened #73 "Should pending idle callbacks in the queue be run when the page is unloaded/backgrounded?"
Analytics and measurement code is a great use case for `requestIdleCallback()`, but there are a small set of situations in which you *wouldn't* want to use `requestIdleCallback()` for fear that the callback would never run. Some example of this are:

- Sending end-of-session data (as the page is being unloaded)
- Tracking outbound link clicks (which also happens as the page is being unloaded)
- Tr

[2018-07-26 14:14] tdresser commented on #73
@spanicker

[2018-08-01 12:49] rmcilroy commented on #73
There was some discussion on this idea in https://github.com/w3c/requestidlecallback/issues/3. The consensus was that it is possible to achieve this by having logic in an onunload / onbeforeunload handler to check whether the task has been run, and if not perform the operation. Given that setTimeout and similar callback mechanisms don't have an option to guarantee they will be executed either, we

[2018-08-02 00:03] spanicker commented on #73
@philipwalton - could you elaborate on why lifecycle events (pagevisibility, freeze and even unload) don't suffice? The analytics library would have code for steadystate and also hooking into these handlers.

[2018-08-07 00:58] philipwalton commented on #73
@spanicker lifecycle events do suffice (and it's what I ended up doing for my case), it's just non-trivial to wire it all up yourself. It's also really easy to get wrong since there are a lot of browser inconsistencies in this space (e.g. [the hoops I had to jump through here](https://github.com/GoogleChromeLabs/page-lifecycle/blob/master/src/Lifecycle.mjs#L156-L171) in the PageLifecycle.js).

Fur

[2018-10-10 09:26] yoavweiss commented on #70
@rmcilroy @domenic - Is there something delaying progress here?

[2018-10-10 13:18] domenic commented on #70
Not that I'm aware of. If someone were able to drive this to completion that would be great.

[2018-10-17 06:16] yoavweiss commented on #71
So seems like this is blocked on #70

[2018-10-17 21:32] philipwalton commented on #73
I wrote up my experience handling this issue in a blog post:
https://philipwalton.com/articles/idle-until-urgent/

I think we can close this for now, since realistically developers would still need to handle this themselves until all rIC implementations were the same. Also, @spanicker has a proposal for a high-level [scheduling API](https://docs.google.com/presentation/d/1HGBOAfVhmWoyOt2ETk-1Y2dOv

[2018-10-17 21:32] #73 closed, assigned to nobody

[2018-10-18 14:17] rmcilroy commented on #70
I've uploaded https://github.com/w3c/requestidlecallback/pull/75 and https://github.com/whatwg/html/pull/4104 which I think should be sufficient to hook rIC into the HTML spec. @domenic I've gone with a slightly different approach in the event model processing which I think is simpler - in essence instead of working out if we did an idle spin of the loop, instead work out if the next spin of the l

[2018-10-21 12:19] yoavweiss commented on #72
Closed by #74

[2018-10-21 12:19] #72 closed, assigned to nobody

[2018-10-25 11:49] yoavweiss commented on #71
@rmcilroy Would landing https://github.com/whatwg/html/pull/4104 fix this issue as well? Or is there extra work to be done here?

[2018-10-25 13:19] rniwa commented on #71
No, we still need to define what it means for the event loop to be idle. The issue I raised is that just because this particular global object doesn't have any active timers, it doesn't mean other global objects such as those of iframe don't have a bunch of active timer soon to be fired. So this *deadline* needs to be computed the same way https://github.com/whatwg/html/pull/4104 defines the timin

[2018-10-25 14:13] rmcilroy commented on #71
Right, this would need more work. It's not entirely clear how we could spec this - the current spec for setTimeout / setInterval relies on "wait for timeout milliseconds in parallel" before queuing a task on the task queue, so there isn't actually anything queued anywhere while the timer is pending that we could surface to the rIC algorithm. Any thoughts?

[2018-10-25 14:15] domenic commented on #71
How is it implemented? Can we use that as inspiration for the spec?

[2018-10-25 14:21] rmcilroy commented on #71
In Chrome the delayed tasks are posted on a task queue while they are pending, ordered by their timeout/delay (this includes internal tasks as well as setTimeout tasks).  We set the deadline to be the time of the earliest task in the queue (and also cap to 50ms or next frame deadline if we are rendering).

[2018-10-25 15:07] rmcilroy commented on #70
Should now be addressed, thanks all.

[2018-10-25 15:07] #70 closed, assigned to nobody

[2018-10-29 09:33] farre commented on #71
This is pretty much how we do it in Gecko as well.

[2018-10-30 11:56] rmcilroy commented on #71
It seems like modifying the HTML spec to accommodate this would be a decently big effort, and actually thinking about it I'm not sure how much it helps given the spec also wants to let the UA shorten the deadline earlier for internal tasks as well as those posted via the HTML spec, and to use heuristics to predict the likelyhood of an external event happening during that time. I.e.:

How about mov

[2018-11-05 08:34] yoavweiss commented on #71
@rniwa friendly ping! :)

[2018-11-06 04:57] rniwa commented on #71
Again, my main issue with the spec is that this isn't precisely defined. Adding a non-normative note wouldn't cut it. In general, if the spec doesn't meet the bar of specifying a feature to the extent it should, then the right call is to delay the publishing of the spec instead of hand-waving the definition of it. We can't spec a deadline by enumerating examples. That precisely is the current spec

[2018-11-16 12:20] rmcilroy commented on #71
Fair enough, would someone be willing to add the necessary hooks into the HTML spec to make this happen? I don't have the bandwidth or experience with the HTML spec to do that at present.

[2018-12-24 10:40] yoavweiss commented on #71
Going back to this, and since the definition of "deadline" should also include heuristics regarding external events (which we don't intend to specify), I'm not sure what the benefits of specifying that would be.

@rniwa - are there any compatibility issues that you think will arise from keeping this value UA defined?

[2018-12-24 20:02] rniwa commented on #71
Obviously. You can have a timer inside an iframe or a window then the *deadline* according to the current spec would be ignoring that. It's true that we can observe what Blink and Gecko had implemented and not make such a stupid mistake but the purpose of the spec is to clarify what needs to be implemented even in absence of any implementation. If we're forced to reverse engineer what Blink and Ge

[2019-01-03 17:28] yoavweiss commented on #71
I believe the case of same-origin iframe or window are covered by the suggested *normative* language @rmcilroy suggested. Specifically, "Let deadline be a time in the future until which the UA expects the window's event loop to remain idle. " covers that case, as same-origin iframe or window share an event loop with the window.

Otherwise, I don't think that there will be benefits to defining UA-s

[2019-01-11 05:27] rniwa commented on #71
That wording would work if we can define what it means for an event loop to *remain idle*.

Let's consider the following clause in the [event loop processing model](https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model) which defines when to [start an idle period algorithm](https://w3c.github.io/requestidlecallback/#start-an-idle-period-algorithm):

This definition mak

[2019-01-31 03:02] szager-chromium opened #77 "The timeRemaining language is confusing"
This section:

https://w3c.github.io/requestidlecallback/#the-idledeadline-interface

... says:

"When the timeRemaining() method is invoked on an IdleDeadline object it MUST return the duration, as a DOMHighResTimeStamp, between the current time and the time associated with the IdleDeadline object."

It then goes on to describe a different algorithm for computing the return value of timeRemaining

[2019-01-31 20:03] rniwa commented on #71
Here is a list of things we discussed during F2F to explicitly list instead of "expect to remain idle"
 - The minimum firing time amongst the list of active timers
 - The next paining / rendering time (?)
 - The expected time at which each algorithm running in parallel may schedule a task
    - This is annoying one. It would mean that in order to correctly implement this feature in WebKit, we'd ne

[2019-06-12 19:07] rniwa commented on #71
Now that the HTML spec has [explicit task sources](https://html.spec.whatwg.org/multipage/webappapis.html#generic-task-sources) when queuing tasks from algorithms that run in parallel, maybe can tie the concept of deadline to that. In particular, maybe we can say the deadline is reached when a new task is being queued to the user interaction task sources?

[2019-06-12 19:17] rniwa commented on #71
WDYT? @annevk @bzbarsky

[2019-06-12 19:21] yoavweiss commented on #71
/cc @spanicker @shaseley - opinions on https://github.com/w3c/requestidlecallback/issues/71#issuecomment-501414810?

[2019-06-12 19:41] bzbarsky commented on #71
That wouldn't address the timer issue, right?  It would address user input preempting an idle period, though and seems sensible in that regard.  It wouldn't be able to affect the deadline calculation, though, unless I'm missing something.

[2019-06-12 21:41] rniwa commented on #71
@bzbarsky : Right, we have to handle the timer timeouts separately from the user inputs.

So my straw man proposal for when the deadline becomes 0 is as follows:
1. The minimum time at which next timer or rAF callback fires.
2. The time at which the user interaction task source gets a new task enqueued.

[2019-06-12 22:40] bzbarsky commented on #71
So there are two meanings of "deadline", right?

1) What value is passed to the idle callback?
2) When do new idle callbacks stop getting run?

That proposal works for item (2), but I don't see how item (1) can depend on "The time at which the user interaction task source gets a new task enqueued", because that time is not known when the call happens, right?

[2019-06-12 22:50] rniwa commented on #71
@bzbarsky : Right. I think (1) will depend on timers & rAF for now. We can add more things to the list as we find them.

[2019-06-12 22:53] rmcilroy commented on #71
Right, for (2) we already have a hook in the step 4 of the [IdleDeadline timeremaining() interface](https://w3c.github.io/requestidlecallback/#the-idledeadline-interface) to set it to zero if a "time-critical task pending". I agree we could use the new user interaction task source to make this phrasing more precise.

[2019-06-12 22:56] rniwa commented on #71
As I mentioned in https://github.com/w3c/requestidlecallback/pull/78, I don't think the phrase "time-critical task" would be any more precise than arbitrary time UA picks since there is no definition for being time critical.

[2019-06-13 14:18] rmcilroy commented on #71
That's why I suggested changing that phrasing to be based on the new new user interaction task source.

[2019-08-01 15:58] yoavweiss commented on #77
Closed by #79

[2019-08-01 15:58] #77 closed, assigned to nobody

[2019-10-08 06:47] rniwa opened #81 "Starting of an idle period algorithm should take origin into account"
The [event loop processing model](https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model) states to [start an idle period algorithm](https://w3c.github.io/requestidlecallback/#start-an-idle-period-algorithm) when there is no task in the event loop's task queues and event loop's micro task queue is empty.

This exposes tasks and micro tasks enqueued in cross origin docum

[2019-10-08 06:54] rniwa commented on #81
I guess "none of the browsing contexts have a rendering opportunity" is also not right. It exposes whether any of the cross-origin documents have done something to cause a rendering opportunity to occur.

[2019-10-08 08:51] annevk commented on #81
Are you concerned with cross-origin-but-same-site documents or cross-site documents that ought to run in their own agent cluster likely with their own event loop?

cc @domenic

[2019-10-09 04:32] rniwa commented on #81
Oh, right. I had forgotten about the agent clustering refactoring you had been doing. So event loops are separate between cross-site documents so this should be fine in terms of post Spectre security model.

[2019-10-09 04:32] #81 closed, assigned to nobody

[2019-10-09 07:07] annevk commented on #81
Theoretically, though there's probably edge cases and a bunch of wording to be improved.

[2019-10-10 06:48] rniwa opened #82 "The order of idle callbacks across windows is inconsistent between spec & UAs"
Consider the following example where requestIdleCallback is requested in two different windows:
[code]

This would result in the log being 1.A1, 2.B1, 3.B2, 4.A2 in Chrome and sometimes in Firefox but my faithful implementation of the specification as well as Firefox would sometimes order them as 1.A1, 2.B1, 4.A2, 3.B2.

My statement assumes that step 3 in the [start an idle period algorithm](http

[2019-10-10 06:52] rniwa commented on #82
@annevk @smaug----

[2019-10-10 21:11] rniwa opened #83 "The invoke idle callbacks algorithm should check if list of runnable idle callbacks is empty or not."
In the following example, the invoke idle callbacks algorithm would be called with an empty list of runnable idle callbacks for the iframe's content window.
[code]

In this example, the following events would take place:
 1. Callback A is added to the list of idle request callbacks, and the task to start an idle period algorithm (SIPA-A) is queued. Currently schedule tasks are: [SIPA-A].
 2. Callb

[2019-10-11 07:26] annevk commented on #82
I suspect like mutation observers this needs to use the similar-origin window agent for guaranteeing consistent ordering.

[2019-10-11 07:26] annevk commented on #82
cc @farre

[2019-10-11 08:19] rniwa commented on #82
Yeah, the fundamental problem here is that the queue is per window. It really ought to be per event loop.

[2019-10-11 15:11] rmcilroy commented on #83
Yeah this seems like a spec bug. Should be easy enough to fix by adding "and the window's list of runnable idle callbacks is not empty:" to step 3 of the invoke idle callbacks algorithm, WDYT?

[2019-10-11 15:35] rmcilroy commented on #82
We used to associate the queue with the event loop and not the window (and that's how we implemented it in Chrome). We changed the spec later in 9f072ac4 to be associated with windows to address #57. I agree though, it should really be associated with the event loop if we can avoid the issues in #57.

[2019-10-11 16:00] annevk commented on #82
I don't think there's anything there that would prevent specifying a consistent ordering. But also, "don't monkey patch" doesn't mean "don't change". You can (and should if needed) PR whatwg/html if you need a different infrastructure.

[2019-10-12 02:31] rniwa commented on #83
Yeah, that would work.

[2019-10-29 15:45] #83 closed, assigned to nobody

[2019-10-30 12:46] rmcilroy commented on #82
I've created a WIP PR in https://github.com/rmcilroy/requestidlecallback/pull/1 that moves the idle callback lists to the event loop.

If this landed we would also need to change step 11 of the [event loop processing model](https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model) to only call the start an idle period algorithm once with the event loop as its argument.  W

[2019-11-05 19:01] rniwa opened #86 "6.2. invoke idle callbacks algorithm step 1 should be defined in terms of task sources having tasks enqueued"
https://w3c.github.io/requestidlecallback/#invoke-idle-callbacks-algorithm says

This should be defined in terms of any of the task sources in the HTML5 event loop having a  task enqueued.

[2019-11-05 19:02] rniwa opened #87 "timeRemaining() step 4 should define what it means to have a "time-critical task pending""
https://w3c.github.io/requestidlecallback/#dom-idledeadline-timeremaining says:

Like https://github.com/w3c/requestidlecallback/issues/86, this needs to be defined in terms of event loop's task sources having a task enqueued.

[2019-11-05 19:06] rniwa commented on #71
Per today's meeting, we tentatively agreed to define the deadline to be the minimum / earliest of:
 * DOM timers & the next time UA is expecting to have a rendering opportunity
 * UA dependent tasks

[2019-11-05 19:07] rniwa commented on #71
We should modify [timer initialization steps](https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#timer-initialisation-steps) to define the time at which each timer fires because there is no such a thing defined right now. In particular, the timeout only progresses while the document is [fully active](https://html.spec.whatwg.org/multipage/browsers.html#fully-active) so that means

[2019-11-23 04:11] rniwa commented on #82
Seems like a reasonable approach.

[2021-06-10 12:58] marcoscaceres opened #91 "Can we rename this spec?"
Can we call it "requestIdleCallback()" and give it the subtitle "Cooperative Scheduling of Background Tasks" instead?

I doubt anyone is searching for "Cooperative Scheduling of Background Tasks" or going to remember that name.

I know that cancelIdleCallback() is also defined, but just takes a handle from `requestIdleCallback()`, so... 😇

[2021-10-07 06:05] noamr opened #96 "Relying on an event loop might restart an idle period for each task"
Since starting an idle period is called from processing a task on the main event loop, and every idle task is processed on that same event loop, it's implied from the spec that the idle tasks themselves would start a new idle period, resetting the deadline and allowing pending tasks to run.

This is of course not the intention, as the prose in the spec mentions that there could be only one idle pe

[2021-10-11 08:26] noamr commented on #87
I think this is solved by https://github.com/w3c/requestidlecallback/pull/95 and https://github.com/whatwg/html/pull/7166 once they are merged.

[2021-10-11 08:26] noamr commented on #86
I think this is solved by https://github.com/w3c/requestidlecallback/pull/95 and https://github.com/whatwg/html/pull/7166 once they are merged.

[2021-10-11 08:26] noamr commented on #82
I think this is solved by https://github.com/w3c/requestidlecallback/pull/95 and https://github.com/whatwg/html/pull/7166 once they are merged.

The event loop iterates through the windows of that event loop.
Probably tests could reflect that better.

[2021-10-26 15:19] #96 closed, assigned to nobody

[2021-10-26 16:08] noamr opened #97 "Suggestion: expose specific information instead of deadline"
Deadline is computed by the following:
- Is there rendering pending?
- How long until a timer is about to expire?
- How long has passed since the idle period started?
- Did a new task make it into the global queue?

I'm suggesting that instead of computing the deadline based on this, we expose the different values, not necessarily from within the idle callback.

- isFramePending, isInputPending et

[2021-10-27 02:29] yoavweiss commented on #97
/cc @shaseley - who mentioned hearing this request from folks.

[2021-11-22 09:28] #71 closed, assigned to yoavweiss, rmcilroy

[2021-11-22 09:28] noamr commented on #86
I believe this can be closed now that https://github.com/w3c/requestidlecallback/pull/95 is merged.

[2021-11-22 09:29] noamr commented on #87
I believe this can be closed now that https://github.com/w3c/requestidlecallback/pull/95 is merged.

[2021-11-22 09:35] yoavweiss commented on #87
@rniwa - Any objections to closing this?

[2021-11-22 09:35] yoavweiss commented on #86
@rniwa - Any objections to closing this?

[2022-01-17 09:30] noamr commented on #86
Closing. Feel free to reopen.

[2022-01-17 09:30] #86 closed, assigned to nobody

[2022-01-17 09:31] noamr commented on #87
Closing. Feel free to reopen.

[2022-01-17 09:31] #87 closed, assigned to nobody

[2022-01-17 09:31] noamr commented on #82
Closing, as the spec is explicity about this now. Feel free to reopen if something is missing.

[2022-01-17 09:31] #82 closed, assigned to nobody

[2022-04-13 13:30] #91 closed, assigned to nobody

[2022-04-15 14:37] yoavweiss opened #100 "Setup auto publishing"
Current spec is out of date. We should setup autopublishing.

/cc @caribouW3 @nicjansma

[2022-06-20 14:47] clelland commented on #49
@shaseley, is this something that we should add to the spec?

[2022-06-20 14:50] clelland commented on #68
@shaseley -- this may introduce significant complexity, but can you weigh in as editor on whether it's worth adding something like this? (Or is this something that the WG should discuss?)

[2022-06-20 14:52] clelland commented on #100
@plehegar, is this something that you can help with?

[2022-06-21 14:51] plehegar commented on #100
Let me see if @caribouW3 can do it this week, otherwise I'll get to it.

[2022-06-21 15:06] caribouW3 commented on #100
The latest publication in 2017 was a Proposed Recommendation. There were non-editorial changes so it has to go back to WD. We can publish a WD then start a wide review if it's ready to request CR.

[2022-06-22 22:22] shaseley commented on #68
Short answer: yes I think it's worth adding, but probably not as part of `requestIdleCallback`.

I believe this issue helped motivate exploring the broader scheduling space, which we've been doing in [Prioritized Task Scheduling](https://wicg.github.io/scheduling-apis/) (with OP's help). IMO that's probably a better place to be exploring this, given the broader scope (outside of just idle priority

[2022-06-27 07:10] yoavweiss commented on #100
Sounds good, thanks! :)

[2022-06-27 13:10] caribouW3 commented on #100
@yoavweiss  auto-publish script is now ready, but going back to WD can't be auto-published yet, so I'll prepare a manual publication for later this week.